/* styles/globals.css */

:root {
  --color-primary: #4caf50;
  --color-secondary: #ff9800;
  --color-background: #000613;
  --color-text: #000000;

  --color-primary-dark: #357a38;
  --color-secondary-dark: #c66900;
  --color-background-dark: #121212;
  --color-text-dark: #ffffff;
  --border-radius: 16px;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Темная тема */
[data-theme='dark'] {
  --color-primary: var(--color-primary-dark);
  --color-secondary: var(--color-secondary-dark);
  --color-background: var(--color-background-dark);
  --color-text: var(--color-text-dark);
}
